<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" id="title" #newtitle>  <!-- changed -->
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" id="link" #newlink> <!-- changed -->
  </div>

  <div class="field">
    <label for="link">Role:</label>
    <select name="userType" id="userType" #userType>
      <option value='user' selected>User</option>
      <option value='administrator'>Administrator</option>
    </select>
   
  </div>
  <!-- added this button -->
  <button (click)="addArticle(newtitle, newlink, userType)"
          class="ui positive right floated button">
    Submit link
  </button>

</form>

<div class="ui grid posts">
  <app-article
    *ngFor="let article of sortedArticles()"
    [article]="article" (flagMe)="flagThisArticle($event)">
  </app-article>
</div>
